.aboutPage {
    padding-bottom: 10vh;
    position: relative;
}

.aboutPage svg {
    display: block;
    position: absolute;
    top: 7.5rem;
    z-index: 0;
}

.aboutPage__title {
    text-align: center;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.aboutPage__title h1 {
    font-size: 6vw;
    margin: 0;
    margin-bottom: 4vh;
}

.aboutPage__title h1::before {
    position: absolute;
    content: "";
    transform: translateZ(-1px);
    background-color: #FCC700;
    width: 68%;
    height: 100%;
    right: 0;
}

.aboutPage__Section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutPage__Section__container {
    position: relative;
    width: 40%;
}

.aboutPage__container__underline {
    border-bottom: 0.5vh solid black;
}

.aboutPage__container__text {
    text-align: center;
}

.aboutPage__container__text h2 {
    font-size: 5vh;
    margin: 0;
}

.aboutPage__container__textTitle {
    display: inline-block;
    background-color: #FCC700;
    padding: 0.5vh;
    z-index: -1;
    -webkit-box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
    -moz-box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
    box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
}

.aboutPage__container__text p {
    text-align: justify;
    font-size: 2.5vh;
    padding: 2vh 0 3vh 0;
    margin-bottom: 0;
}

.aboutPage__container__image {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
    -moz-box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
    box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
}

.aboutPage__container__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}