.aboutPage {
    background-color: #E5E5E5;
}


.aboutPage__title {
    font-size: 4vh;
    text-align: center;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.aboutPage__title h1 {
    margin: 0;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.aboutPage__firstSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.firstSection__container {
    width: 45%;
    background-color: red;
}

.container__text {
    text-align: center;
}

.container__text h2 {
    font-size: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.container__text p {
    text-align: justify;
    font-size: 2.5vh;
}