.contactPage {
    background-color: #E5E5E5;
    padding-bottom: 10vh;
}

.contactPage__content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.contactPage__title {
    text-align: center;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.contactPage__title h1 {
    font-size: 6vw;
    margin: 0;
}

.contactPage__title h1::before {
    position: absolute;
    content: "";
    transform: translateZ(-1px);
    background-color: #FCC700;
    width: 100%;
    height: 100%;
    right: 0;
}

.contactPage__Section {
    width: 40rem;
    margin: 5rem auto 0 auto;
}

.container__title {
    display: inline-block;
    background-color: #FCC700;
    -webkit-box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
    -moz-box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
    box-shadow: 10px 10px 0px -3px rgba(0, 0, 0);
}

.container__title h2 {
    margin: 0;
    font-size: 4.5vh;
}

.container__content {
    color: black;
    width: 90%;
    height: 42%;
    margin: 6px auto 0 auto;
    border-top: 2vh solid black;
    border-bottom: 2vh solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container__content h3 {
    margin: 0;
    font-size: 4vh;
    display: inline;
}


.content__left h4 {
    margin: 0
}

.content__left p {
    margin: 1rem;
}


.content__left {
    width: 40%;
}

.content__left h2,
.content__right h2 {
    font-size: 1.3rem;
}

.content__right {
    margin: auto 0;
    height: 90%;
    width: 60%;
}

.content__contact {
    height: 30%;
    padding: 0 1.9rem;
    margin: 0.4rem 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.content__contact h3 {
    margin: 0 auto;
    font-size: 1rem;
}

.content__contact img {
    margin: 0;
    width: 3rem;
}

.contact__map {
    position: relative;
}

.contact__googleMap {
    border: 0;
    height: 20rem;
    width: 36rem;
    margin-bottom: 1rem;
}

.contact__mapSign {
    position: absolute;
    top: 2%;
    right: 12%;
}

.contact__mapSign img {
    width: 90%;
    height: auto;
}