.mainPage {
    background-color: #E5E5E5;
    position: relative;
}

.mainPage svg {
    display: block;
    position: absolute;
    z-index: 0;
}

.mainPage svg:nth-child(1) {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.mainPage__aboutTitle {
    font-size: 4vh;
    text-align: center;
}

.mainPage__aboutTitle h2 {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 4vh;
    z-index: 2;
}

.mainPage__aboutFirst {
    width: 40%;
    margin: 5vh auto 5vh auto;
    transform-style: preserve-3d
}

.mainPage__aboutFirst h2 {
    font-size: 4vw;
    margin: 0;
    margin-bottom: 4vh;
}

.mainPage__aboutFirst h2::before {
    position: absolute;
    content: "";
    transform: translateZ(-1px);
    left: 13%;
    width: 23%;
    height: 100%;
    background-color: #FCC700;
}

.mainPage__aboutSecond {
    transform-style: preserve-3d;
    width: 40%;
    margin: 10vh auto 5vh auto;
}

.mainPage__aboutSecond h2 {
    font-size: 4vw;
    margin: 0;
    margin-bottom: 4vh;
}

.mainPage__aboutSecond h2::before {
    position: absolute;
    content: "";
    transform: translateZ(-1px);
    background-color: #FCC700;
    width: 48%;
    height: 100%;
    right: 6%;
}

.mainPage__aboutDescription {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vh;
    text-align: justify;
    padding-bottom: 1vh;
    border-bottom: 2px solid black;
}

.mainPage__aboutDescription {
    position: relative;
    z-index: 2;
}

.mainPage__About {
    margin: 0 auto 10vh auto;
    padding-top: 5vh;
    padding-bottom: 11vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}