.mainPage {
    background-color: #E5E5E5;
}

.mainPage__shops {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.mainPage__shop {}

.mainPage__aboutTitle {
    font-size: 4vh;
    text-align: center;
}

.mainPage__aboutTitle h2 {
    margin: 0;
    margin-top: 4vh;
}

.mainPage__aboutFirst {
    width: 23.5%;
    margin: 5vh auto 5vh auto;
    transform-style: preserve-3d
}

.mainPage__aboutFirst h2::before {
    position: absolute;
    transform: translateZ(-1px);
    content: "";
    left: 3%;
    width: 28%;
    height: 90%;
    background-color: #FCC700;
}

.mainPage__aboutSecond {
    transform-style: preserve-3d;
    width: 27.5%;
    margin: 5vh auto 5vh auto;
}

.mainPage__aboutSecond h2::before {
    position: absolute;
    content: "";
    transform: translateZ(-1px);
    background-color: #FCC700;
    width: 51.5%;
    height: 92%;
    right: 2.5%;
}

.mainPage__aboutDescription {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vh;
    text-align: justify;
    padding-bottom: 5vh;
    border-bottom: 2px solid black;
}

.mainPage__About {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
}