html {
    scroll-behavior: smooth;
}


.MobilePage {
    transition: 1s;
    scroll-behavior: smooth;
}

.mobilePage__Main {
    border-top: 1rem solid #FCC700;
}

.main__content {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

.mobilePage__About {}

.mainPage__About {
    padding-bottom: 0;
}

.Mobile__title {
    margin: 0 auto;
    text-align: center;
    width: 90%;

}

.Mobile__title h1 {
    font-size: 2.8rem;
    margin: 2rem 0 2rem 0;
    background-color: #FCC700;
}

.About__title h1 {
    margin-bottom: 0;
}

.map__title h1 {
    background-color: #FCC700;
}

.map__contener {
    text-align: center;
}

.Mobile__map {
    border: 0;
    height: 20rem;
    width: 100%;
}

.Contact__title h1 {
    background-color: black;
}

.mobilePage__Contact {
    border-top: 1rem solid #FCC700;
    border-bottom: 1rem solid #FCC700;
    background-color: black;
    color: white;
}

.contact__content p {
    font-size: 1.2rem;
}

.content__pause {
    width: 100%;
    height: 0.5rem;
    background-color: #FCC700;
}