.producersPage{
    background-color: #E5E5E5;
    padding-bottom: 10vh;
}

.producersPage__title {
    text-align: center;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.producersPage__title h1 {
    font-size: 6vw;
    margin: 0;
    margin-bottom: 4vh;
}

.producersPage__title h1::before {
    position: absolute;
    content: "";
    transform: translateZ(-1px);
    background-color: #FCC700;
    left: 0%;
    width: 100%;
    height: 100%;
}

.producersPage__description {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vh;
    text-align: justify;
    padding-bottom: 5vh;
}

.producersPage__content{
    width: 80%;
    margin: 6px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.producersPage__Section {
    width: 20%;
    padding: 0 1vh 5vh 1vh;
}

.producersPage__Section img{
    width: 100%;
}