* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

a {
  color: #E5E5E5;
  text-decoration: none;
}

.Menu {
  align-items: center;
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.8rem;
  position: fixed;
  z-index: 2;
  height: 6rem;
  width: 100%;
}

.Menu__padding {
  height: 6rem;
  padding: 1rem 2.8rem;
  width: 100%;
}

.Menu__links .link {
  color: #E5E5E5;
  margin-left: 3.5rem;
  transition: all 0.5s ease-in-out;
}

.link {
  border: 0.6rem black solid;
  box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
  font-size: 1.2rem;
  font-weight: 400;
  transform-style: preserve-3d
}

/* mouse over link */
.link:hover {
  text-decoration: none;
  color: #FCC700;
}

.link__active {
  text-decoration: none;
  color: #FCC700;
  -webkit-box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  -moz-box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
}

@keyframes hide {
  from {
    box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700
  }

  to {
    box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700
  }
}

@keyframes show {
  from {
    box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700
  }

  to {
    box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700
  }
}

.link__hide {
  animation: hide 0.5s;
  box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
}

.link__show {
  animation: show 0.5s;
  box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  color: #FCC700;
}