* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

a {
  color: #E5E5E5;
  text-decoration: none;
}

.Menu {
  align-items: center;
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.8rem;
  position: fixed;
  z-index: 2;
  height: 6rem;
  width: 100%;
}

.Menu__toggler {
  cursor: pointer;
  display: none;
}

.Menu__padding {
  height: 6rem;
  padding: 1rem 2.8rem;
  width: 100%;
}

.Menu__logo img {
  z-index: 10;

}


.Menu__links .link {
  margin-left: 3.5rem;
  transition: all 0.5s ease-in-out;
}

.Menu__links .link__chemist {
  margin-left: 3.5rem;
  transition: all 0.5s ease-in-out;
}

.link {
  border: 0.8rem black solid;
  box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
  font-size: 1.3rem;
  font-weight: 400;
}

.link:hover {
  text-decoration: none;
  color: #FCC700;
}

.link__chemist {
  border: 0.8rem black solid;
  box-shadow: 0.8vh 0.8vh 0vh -0.5vh #fda525;
  font-size: 1.3rem;
  font-weight: 400;
}

.link__chemist:hover {
  text-decoration: none;
  color: #fda525;
}

@keyframes animation__up {
  from {
    box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
  }

  to {
    box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  }
}

@keyframes animation__down {
  from {
    box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  }

  to {
    box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
  }
}

@keyframes animation__up__chemist {
  from {
    box-shadow: 0.8vh 0.8vh 0vh -0.5vh #fda525;
  }

  to {
    box-shadow: -0.8vh -0.8vh 0vh -0.5vh #fda525;
  }
}

@keyframes animation__down__chemist {
  from {
    box-shadow: -0.8vh -0.8vh 0vh -0.5vh #fda525;
  }

  to {
    box-shadow: 0.8vh 0.8vh 0vh -0.5vh #fda525;
  }
}

.animation__up {
  animation: animation__up 0.5s;
  box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  color: #FCC700;
}

.animation__down {
  animation: animation__down 0.5s;
  box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
}

.animation__up__chemist {
  animation: animation__up__chemist 0.5s;
  box-shadow: -0.8vh -0.8vh 0vh -0.5vh #fda525;
  color: #fda525;
}

.animation__down__chemist {
  animation: animation__down__chemist 0.5s;
  box-shadow: 0.8vh 0.8vh 0vh -0.5vh #fda525;
}

@media (max-width: 1290px) {
  .Menu {
    padding: 0 0;
    z-index: 10;
  }

  .Menu__mobile {
    align-items: center;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 4;
  }

  .Menu__toggler {
    display: block;
    height: 6rem;
    display: flex;
    align-items: center;
    padding-right: 30px;
  }

  .Menu__logo {
    padding-left: 30px;
  }

  .Menu__button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 4rem;
    justify-content: center;
    position: relative;
    transition: all .5s ease-in-out;
    width: 4rem;
  }

  .Button__burger {
    width: 3rem;
    height: 0.3rem;
    border-radius: 4px;
    background-color: white;
    transition: all .5s ease-in-out;
  }

  .Button__burger::before,
  .Button__burger::after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    border-radius: 4px;
    background-color: white;
    transition: all .5s ease-in-out;
  }

  .Button__burger::before {
    transform: translateY(-1rem);
  }

  .Button__burger::after {
    transform: translateY(1rem);
  }

  .button__active .Button__burger {
    background: transparent;
  }

  .button__active .Button__burger::before {
    transform: rotate(45deg);
    background-color: #FCC700;
  }

  .button__active .Button__burger::after {
    transform: rotate(-45deg);
    background-color: #FCC700;
  }

  .Menu__links {
    align-items: center;
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 1rem 0;
    position: absolute;
    top: calc(-400px);
    transition: 0.7s;
    width: 100%;
    z-index: -1;
    border-bottom: 1rem solid #FCC700;
  }

  .Menu__links .link,
  .Menu__links .link__chemist {
    padding: 1rem 0;
    border: 0;
    margin: 0;
    box-shadow: none;
  }

  .Menu__links--visible {
    top: calc(90px);
  }
}