.Menu {
  position: fixed;
  height: 10vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  color: #E5E5E5;
  display: flex;
  z-index: 2;
}

.Menu__padding {
  height: 10vh;
  width: 100%;
}

.Menu__logo {
  position: absolute;
  left: 2%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Menu__links {
  position: absolute;
  right: 10%;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.link {
  font-size: 2vh;
  font-weight: 400;
  line-height: 5vh;
  width: 10vw;
  text-align: center;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
  -moz-box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
  box-shadow: 0.8vh 0.8vh 0vh -0.5vh #FCC700;
}

/* unvisited link */
.link:link {
  text-decoration: none;
  color: white;
}

/* visited link */
.link:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
.link:hover {
  text-decoration: none;
  color: #FCC700;
  -webkit-box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  -moz-box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
  box-shadow: -0.8vh -0.8vh 0vh -0.5vh #FCC700;
}

/* selected link */
.link:active {
  text-decoration: none;
  color: #FCC700;
}